node_modules
**/node_modules
dist
**/dist
.git
.gitignore
.env
.env.*
**/.env
**/.env.*
.DS_Store
**/.DS_Store
*.log
**/*.log
.vscode
.idea
.claude
backend/prisma/dev.db
backend/prisma/dev.db-journal
backend/prisma/*.db
backend/prisma/*.db-journal
/data
/backend/data

*.pdf
*.pptx
